# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [4]:
nums =[1,2,3,4]
print(nums)

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [2]:
# Method 1 
nums.pop(2)
print(nums)

[1, 2, 4]

In [5]:
# Method 2
nums.remove(3)
print(nums)

[1, 2, 4]

In [6]:
# Metho
del()
print(nums)

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [7]:
lst = [2,3,4]
lst.insert(0,1)
print(lst)

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [8]:
lst.insert(2,"two-and-half")
print(lst)

[1, 2, 'two-and-half', 3, 4]

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [14]:
phrase = list("Don't panic!")

print("phrase is coverting to list see here :", phrase)
print( "type of phrase is :", type( phrase))

phrase is coverting to list see here : ['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']
type of phrase is : <class 'list'>

*convert into list*

In [57]:
p = list("Don't panic!")
p

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

`Question:` Remove ** '** and **!** in the list

In [53]:
p.remove("'")
p.remove("!")

print("The sentance after removing the value :",p)

The sentance after removing the value : ['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [58]:
p.remove("p")
p.remove("a")
p.remove("n")
p.remove("D")
print("The alphabits after removed :" , p)
p.extend(["p","a","n","D"])
print("The alphabits p with extend :", p)

The alphabits after removed : ['o', "'", 't', ' ', 'n', 'i', 'c', '!']
The alphabits p with extend : ['o', "'", 't', ' ', 'n', 'i', 'c', '!', 'p', 'a', 'n', 'D']

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [60]:
p =["p","a","n","D","a"]

In [63]:
"".join(p)

'panDa'

'panDa'

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [29]:
nums = (31,24,35,85)
print("data type " ,type(nums))
print(nums)

data type  <class 'tuple'>
(31, 24, 35, 85)

data type <class 'tuple'>
(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [30]:
nums = list(nums)
nums.remove(35)
print(nums)

[31, 24, 85]

(31, 24, 85)

**Extent** tuple (85,19)

In [31]:
nums1 = (85,19)
nums.extend(nums1)
print(nums)

[31, 24, 85, 85, 19]

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [66]:
tpl = ("i","n","n","O")
print("i" in tpl)

True

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [69]:
list = ['Hello',100,[],'innomatics']
list[2]= [200]
print(list)

['Hello', 100, [200], 'innomatics']

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [71]:
tpl = ("Innomatics")
x = reversed(tpl)
print("the program as been reversed : ", tuple(x))

the program as been reversed :  ('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [72]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [79]:
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:3] + (100,) for t in tpl])

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [80]:
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1] + (100,) for t in tpl])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [2]:
l = ['5', "2", "3 ","6", '6', '5']
print("The secong higest value is :", sorted(l)[-3])

The secong higest value is : 5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [85]:
lists= [12,24,35,70,88,120,155]
lists= [x for (i,x) in enumerate(lists) if i not in (0,4,5)]
print ("After removing the 0th,4th and 5th index values are :",lists)

After removing the 0th,4th and 5th index values are : [24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [86]:
nums = (1,2,3,4,5,6,7,8,9,10)
first_half = nums[:5]
last_half = nums[5:]
print("The first half values in one line :", first_half)
print("The last half values in one line :", last_half)
print("The total values in half and half in one line :", first_half,last_half)

The first half values in one line : (1, 2, 3, 4, 5)
The last half values in one line : (6, 7, 8, 9, 10)
The total values in half and half in one line : (1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [94]:
nums = (1,2,3,4,5,6,7,8,9,10)
even_numbers = nums[1::2]
print( "The even values are :",even_numbers)

The even values are : (2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

list is combination of different data types , its denote by the []  and its mutable (means you edit the value like adding or remove  or change the values even you can delete the elements ) 

tuple is similer to lsit but once we declear the values or create the elements in tuple is immutable (nor we add or remove the values from the tuple) and it is denitre by the ()

### 2. Explain the difference between append() and extend() with examples

In [42]:
### append is use for the add the value in exsting list.
l = [1,2,3,4]
print("The list values before append :" , l)
l.append(5)
print("The list values after append :", l)

### extend is use for the add to current list to another list .
l1 = [5,6,7,8,9]
print("The list values before extend :",l)
l1.extend(l)
print("The list values before extend :", l1)

The list values before append : [1, 2, 3, 4]
The list values after append : [1, 2, 3, 4, 5]
The list values before extend : [1, 2, 3, 4, 5]
The list values before extend : [5, 6, 7, 8, 9, 1, 2, 3, 4, 5]

### 3. Explain the difference between pop() and remove() with examples

In [95]:
# pop and remove methods both method are used for the eliminate the value in list .
# pop method work baside on indexing position as well as ts show the eliminated value.
# remove method is work baside on values as well as indexing position.

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)