# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [18]:
person1 = {"name" : "John", "Gender":"male","Occupation ": "Data Scientist","Location":"Nizampet, Hyderabad"}
print(person1)

{'name': 'John', 'Gender': 'male', 'Occupation ': 'Data Scientist', 'Location': 'Nizampet, Hyderabad'}

In [4]:
person1

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

> print keys in person1 as a list

In [6]:
person1.keys()

dict_keys(['name', 'Gender', 'Occupation ', 'Location'])

['Name', 'Gender', 'Occupation', 'Location']

> **`Question:` Remove Location in person1**

In [16]:
person1 ={'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist',"Location":"Nizampet, Hyderabad"}

print("The dictionary before removing the lacation key & value:", person1)


person1.pop("Location")


print("The dictionary after removed the Location key & value :",person1)

The dictionary before removing the lacation key & value: {'Age': 27, 'Gender': 'Male', 'Name': 'Srikanth', 'Occupation': 'Data Scientist', 'Location': 'Nizampet, Hyderabad'}
The dictionary after removed the Location key & value : {'Age': 27, 'Gender': 'Male', 'Name': 'Srikanth', 'Occupation': 'Data Scientist'}

{'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [17]:
person2 ={'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}
print(person2)

{'Age': 25, 'Gender': 'Male', 'Name': 'Raghu Ram', 'Occupation': 'Data Scientist'}

In [5]:
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

> **`Question:` Print the output as show below**

In [19]:
print("==================== person1 ====================")
print(person1)
print("==================== person2 ====================")
print(person2)

==================== person1 ====================
{'name': 'John', 'Gender': 'male', 'Occupation ': 'Data Scientist', 'Location': 'Nizampet, Hyderabad'}
==================== person2 ====================
{'Age': 25, 'Gender': 'Male', 'Name': 'Raghu Ram', 'Occupation': 'Data Scientist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [23]:
nums = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
# In dictionary we have three methods for the remove 
nums.pop(2)
print("The pop method work baside on the key & it remove the both key & value :", nums)
nums.popitem()
print("The popitem method defuitly remove last both key & value :", nums)
del nums[5]
print("The del funcation know as the delete key & values :", nums)

The pop method work baside on the key & it remove the both key & value : {1: 1, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
The popitem method defuitly remove last both key & value : {1: 1, 3: 9, 4: 16, 5: 25, 6: 36}
The del funcation know as the delete key & values : {1: 1, 3: 9, 4: 16, 6: 36}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [24]:
my_dic = {0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
print("The values in desecnding order :", sorted(my_dic,reverse=True))

The values in desecnding order : [9, 7, 5, 3, 1, 0]

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [28]:
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

print("THE MERGR DICTIONARIES : ",{**dict1,**dict2,**dict3})

THE MERGR DICTIONARIES :  {'a': 1, 'b': 3, 'c': 5, 'd': 6}

In [3]:

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charanâ€™s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [29]:
sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [35]:
sample_dict["emp3"]["salary"] = 8500
print()

{'emp1': {'name': 'Jhony', 'salary': 7500}, 'emp2': {'name': 'Ravi', 'salary': 8000}, 'emp3': {'name': 'Charan', 'salary': 8500}}

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key â€˜historyâ€™ from the below dict**

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [37]:
sampleDict = {"class":{"student":{"name": "Mike","marks":{"physics": 70,"history": 80}}}}

In [38]:
sampleDict["class"]["student"]["marks"]["history"]

80

80

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [2]:
person1 = {'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [3]:
person1["Area"] = person1['Location']
del person1['Location']



print("The key is change and updatede :",person1)

The key is change and updatede : {'Gender': 'Male', 'Name': 'John', 'Occupation': 'Data Scientist', 'Area': 'Nizampet, Hyderabad'}

{'Gender': 'Male',
 'Area': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)

In [6]:
database = {'ram':1234,'raghu':5678,'kanav':1357}


username = input("enter the username  :")
  
    
    
if username in database:
    password = input("please entre the password ")
    
    if database[username] == password:
        print("Hello", username)
    else:
        print("invalid user")
        
else:
    conformation = input("do you want to add in out database (y/n):")
    
    if conformation =="y":
        uesrname = input("enter user name")
        password = input("enter the password")
        password_1 = input("re- enter the password")
        
        if password == password_1:
            database[uesrname]= password
        else:
            print("incorrect values")
    
 
    else:
        print("good day")
print(database)

enter the username  :ram
please entre the password 1234
invalid user
{'ram': 1234, 'raghu': 5678, 'kanav': 1357}

In [13]:
database = {'krishna':1234,'kumar':5678,'kanav':1357}
user=input()
password=int(input())
for i in database:
    if (i==user) and (database[i]==password):
        print("Helloo",user)
        break
else: 
    answer = input("Would you like to add the details to the database y/n?: ").lower()
    if answer=='y':
        u1=input()
        p1=int(input())
        database[u1]=p1
    else:
        answer=='n'
        print("Gooday")

divya
12334
Would you like to add the details to the database y/n?: y
divya
1234

In [14]:
username = input("Please enter your username: ")
password = input("Please enter your password: ")

username_password = {
    'divya': "1234"
}

if username in username_password:
    if username == "divya" and password == username_password[username]:
        print("Welcome Sir")
    else:
        print("You're not authorized!")
else:
    confirmation = input("Do you want to register? (Y/N): ")
    if confirmation == "Y":
        username = input("Enter your username: ")
        password = input("Enter your password: ")
        password_2 = input("Confirm your password: ")
        if password == password_2:
            username_password[username] = password
        else:
            print("Your password is incorrect!")
    else:
        print("Good bye")
print(username_password)

Please enter your username: djf
Please enter your password: 254
Do you want to register? (Y/N): Y
Enter your username: djh
Enter your password: dbcx
Confirm your password: dbcx
{'divya': '1234', 'djh': 'dbcx'}