# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

## Basics of Python

> `Question:` Print your name

In [3]:
# CODE HERE

My name is Innomatics

In [4]:
a = "My name is Innomatics"
print(a)

My name is Innomatics

> `Question:` What is a variable? Write a Few words about Variables. Create a Variable with an Example.

In [6]:
#variable is know as a storing values it  might be string, flot, intger .
#in gernaral form assign the values like number and alphabets

In [19]:
a = 5
b = 6.5
c = "hello world"

print(c ,"this python programming learn section!")
print("a+a", a+a)
print("total value of a+b will be ", a+b)
print("total value of a/b will be ", a/b)
print("total value of a//b will be ", a//b)
print("total value of a-b will be ", a-b)
print("total value of b-a will be ", b-a)

hello world this python programming learn section!
a+a 10
total value of a+b will be  11.5
total value of a/b will be  0.7692307692307693
total value of a//b will be  0.0
total value of a-b will be  -1.5
total value of b-a will be  1.5

>`Question:` Assume that we execute the following assignment statements:
width = 17
height = 12.0
delimiter = '.'
For each of the following expressions, write the value of the expression and the type (of the value of
the expression).
1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5
5. delimiter * 5

In [29]:
width = 17
height = 12.0
delimiter = '.'


print("1.","Value is : ", width // 2)
print("2.", "Value is : ", width / 2.0)
print("3.", "Value is : ", width / 3 )
print("4.", "Value is :" , 1 + 2 * 5)
print("5.", "The anwser is",delimiter*5)

1. Value is :  8
2. Value is :  8.5
3. Value is :  5.666666666666667
4. Value is : 11
5. The anwser is .....

In [ ]:
# CODE HERE

# Sample Outputs
1. width/2 = 8.5
2. width/2.0 = 8.5
3. height/3 = 4.0
4. 11
5. .....

> `Question:` Add two number by taking variable names as first and seccond

In [30]:
a = 100
b = 200

print("first number is :", a)
print("second number is :", b)
print("addition of two numbers are :", a+b)

first number is : 100
second number is : 200
addition of two numbers are : 300

first number is : 100
second number is : 200
Addition of two numbers are : 300

> `Question:` Add your first name and second name

In [37]:
first_name = "Sachin"
second_name = "Tendulkar"

print("My first name is :", first_name)
print("My second name is :", second_name)
print("My full name is :", first_name ,  second_name)

My first name is : Sachin
My second name is : Tendulkar
My full name is : Sachin Tendulkar

My first name is : Sachin
My second name is : Tendulkar
My full name is : Sachin Tendulkar

> `Question:` print the datatypes of the following
- 10,'10',True,10.5

In [7]:
a =10
b = "10"
c = 10.5
d = a < c

print(a, "-",type(a))
print(b, "-",type(b))
print(d ,"-", type(d))
print(c, "-",type(c))

10 - <class 'int'>
10 - <class 'str'>
True - <class 'bool'>
10.5 - <class 'float'>

10 -  <class 'int'>
'10' -  <class 'str'>
True -  <class 'bool'>
10.5 -  <class 'float'>

 `Question:` 
> - num_int = 123
> - num_str = "456"
> - Add num_int and num_str
- `hint: first need to convert num_str into integer`

In [15]:
num_int = 123
num_str = "456"

num_str = int(num_str)

print("addition of {0} and {1} is".format("123", "456") ,":" ,num_int + num_str )

addition of 123 and 456 is : 579

Addition of 123 and 456 is :  579

### Advanced Questions

> `Question:` The volume of a sphere with radius r is  4/3Ï€r3  . What is the volume of a sphere with radius 5?

In [17]:
print ("The volume of a sphere with radius of 5 is" , ((4/3.0) * 3.14) * 5**3)

The volume of a sphere with radius of 5 is 523.3333333333334

> `Question:` Suppose the cover price of a book is Rs.24.95, but bookstores get a 40% discount. Shipping costs Rs.3 for the first copy and 75 paise for each additional copy. What is the total wholesale cost for 60 copies?

In [26]:
book_price =24.95
discount = 100/40
book_with_discount = book_price/discount
the_firstcopy_shipping_cost = 3
the_additional_shipping_cost =0.75
first_copy_cost = book_with_discount+the_firstcopy_shipping_cost+the_additional_shipping_cost
reaming_books = 59
reaming_books_cost = reaming_books*book_with_discount*the_additional_shipping_cost

print("The firstcopy of the book with shipping cost will be :  ", book_with_discount+the_firstcopy_shipping_cost+the_additional_shipping_cost)
print("Reaming copy cost of the book with shipping wiil be :" , book_with_discount*the_additional_shipping_cost*reaming_books)
print("The total wholesale cost for 60 copies wii be :", first_copy_cost+reaming_books_cost)

The firstcopy of the book with shipping cost will be :   13.73
Reaming copy cost of the book with shipping wiil be : 441.615
The total wholesale cost for 60 copies wii be : 455.345

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)